<!DOCTYPE html>
<html>
    <head>
	<title>Form</title>
    </head>
    <body>
	<h1>GET</h1>
	<p><a href="/get?key1=value1&key2=value2">/get?key1=value1&key2=value2</a></p>
	<h1>POST (Form)</h1>
	<form method="POST" action="/post">
	    <p>Name: <input type="text" name="name" value="" /></p>
	    <p>Age: <input type="text" name="age" value="" /></p>
	    <p><input type="submit" name="" value="Post" /></p>
	</form>
	<h1>POST (File)</h1>
	<form method="POST" action="/post" enctype="multipart/form-data">
	    <p><input type="file" name="myfile" value="" /></p>
	    <p><input type="submit" name="" value="Post" /></p>
	</form>
    </body>
</html>
